In [0]:
from pymongo import MongoClient
import json

client = MongoClient("mongodb+srv://leonardocroda:HLF2YMd3f1hf5cdo@classificar-tweets-srtwi.mongodb.net/admin?retryWrites=true&w=majority") # conecta num cliente do MongoDB rodando na sua máquina
db = client['classificar_tweets'] # acessa o banco de dados
collection = db['teste'] # acessa a minha coleção dentro desse banco de dados
all_tweets = list(collection.find({},{"id": 1,"full_text": 1,"sentimento": 1,"pilares": 1}))

In [0]:
tweet_dict={}
tweet_array_string=[]
tweet_array=[]

In [0]:
def quebrar():
  for tweet in all_tweets:
    if len(tweet["pilares"])>1:
      tweet_dict["id"] = tweet["id"]
      tweet_dict["full_text"]=tweet["full_text"]
      tweet_dict["sentimento"]=tweet["sentimento"]
      tweet_dict["pilares"]=tweet["pilares"][(len(tweet["pilares"])-1)]
      tweet["pilares"].pop()
      tweet_array_string.append(json.dumps(tweet_dict))

In [0]:
i=0
while (i < 8):
  quebrar()
  i=i+1

In [0]:
for tweet in all_tweets:
  if type(tweet["pilares"]) == list:
    tweet["pilares"]=tweet["pilares"][len(tweet["pilares"])-1]

In [0]:
import ast
for string in tweet_array_string:
  dicionario = ast.literal_eval(string)
  tweet_array.append(dicionario)

In [0]:
all_tweets.extend(tweet_array)

In [0]:
# type(all_tweets[2]["pilares"])

In [42]:
import pandas as pd
df = pd.DataFrame(all_tweets)
df

                           _id                   id  ... pilares sentimento
0     5d89a46b7a1cc8edc0a85928  1176249908203933696  ...       5          1
1     5d89a46b7a1cc8edc0a85918  1176282967704051717  ...       1          2
2     5d89a46b7a1cc8edc0a85904  1176316252454871040  ...       2          2
3     5d89a46b7a1cc8edc0a858fe  1176338806246690816  ...       6          2
4     5d89a46b7a1cc8edc0a858f7  1176350618681847808  ...       7          2
...                        ...                  ...  ...     ...        ...
3421                       NaN  1179200850876600321  ...       2          1
3422                       NaN  1180328825839869954  ...       2          2
3423                       NaN  1180458254138146816  ...       3          0
3424                       NaN  1177347316984029185  ...       2          0
3425                       NaN  1176926605018451969  ...       2          1

[3426 rows x 5 columns]

In [29]:
len(tweet_array)

732

In [0]:
# print(all_tweets)